/* 
    This file contains all the locally used stuff, the second layer. 
    
    Page.html -> - style.css (code used across all pages like the navbar or custom buttons and animations)
                 - Page.css (code that is specific for that page and that page only wich is not included in the other pages)
*/

body 
{
    background-position: 0% 85vh;
    background-size: 100% 300vh;
}

#AboutSection
{
    height: 87.5vh;
}

#AboutElement
{
    margin-top: 80px;
}

#AboutTitle
{
    margin-bottom: 7vh;
}

#AboutTitleRow
{
    margin-left: 10vw;
    margin-right: 10vw;
    height: 60%
}

@media(max-width: 700px)
{
    #AboutTitleRow
    {
        margin-left: 0px;
        margin-right: 0px;
        height: 72.5%
    }

    #AboutSubTitle
    {
        font-size: 27px;
    }

    @media(max-height: 725px)
    {
        #AboutElement
        {
            margin-top: 70px;
        }

        #AboutSubTitle
        {
            font-size: 24px;
        }
    }
}



