/* 
    This file contains all the locally used stuff, the second layer. 
    
    Page.html -> - style.css (code used across all pages like the navbar or custom buttons and animations)
                 - Page.css (code that is specific for that page and that page only wich is not included in the other pages)
*/

body 
{
    background-position: 0% 85vh;
    background-size: 100% 275vh;
    max-width: 100vw;
}

@media(max-width: 1500px)
{
    body 
    {
        background-size: 100% 600vh;
    }
}

#AboutSection
{
    height: 87.5vh;
}

#AboutElement
{
    margin-top: 80px;
}

#AboutTitle
{
    margin-bottom: 7vh;
}

#AboutTitleRow
{
    margin-left: 10vw;
    margin-right: 10vw;
    height: 60%
}

#AchievementsTitleRow
{
    max-width: 100vw;
}

#AchievementsTitle
{
    margin-bottom: 15vh;
    margin-left: 7px;
}

#AboutSubTitle
{
    font-size: 27px;
}

@media(max-width: 1500px)
{
    #AboutSection
    {
        height: 92.5vh;
    }

    #AboutSubTitle
    {
        font-size: 25px;
    }

    #AboutTitleRow
    {
        height: 80%;
    }
}

@media(max-width: 1100px)
{
    #AboutSection
    {
        height: 92.5vh;
    }

    #AboutSubTitle
    {
        font-size: 22px;
    }

    #AboutTitleRow
    {
        height: 80%;
    }

    @media(max-height: 650px)
    {
        #AboutTitleRow
        {
            padding-top: 10px;
        }

        #AboutSubTitle
        {
            font-size: 18px;
        }
    }
}

@media(max-width: 800px)
{
    #AboutTitle
    {
        font-size: 30px;
        margin-top: 100px;
        margin-bottom: 3.5vh;
    }

    #AboutTitleRow
    {
        margin-left: 0vw;
        margin-right: 0vw;
        padding: 0px;
    }

    #AboutTitleRow
    {
        margin-left: 0px;
        margin-right: 0px;
        height: 72.5%
    }

    #AboutSubTitle
    {
        font-size: 18px;
    }

    #AchievementsTitle
    {
        font-size: 30px;
        margin-bottom: 12vh;
        margin-top: -2vh;
    }

    @media(max-height: 725px)
    {
        #AboutElement
        {
            margin-top: 70px;
        }

        #AboutSubTitle
        {
            font-size: 16.5px;
        }

        #AboutTitle
        {
            margin-top: 100px;
            margin-bottom: 3.5vh;
        }
    }
}


.AchievementsContainer
{
    height: 320px;
    width: 420px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 2px 5px 18px #000000;
}

.AchievementsContainer:hover 
{
    opacity: 97%;
}

.AchievementsContainerLeft
{
    margin-left: 0px;
}

.AchievementsContainerCenter
{
    margin-left: calc(50% - 210px);
}

.AchievementsContainerRight
{
    margin-left: calc(100% - 420px);
}

.AchievementsContainerTop
{
    margin-top: 0px;
}

.AchievementsContainerMiddle
{
    margin-top: calc(50% - 160px);
}

.AchievementsContainerBottom
{
    margin-top: calc(100% - 320px);
}

@media(max-width: 1500px)
{   
    .col-6
    {
        height: 500px;
    }

    .TabletRow
    {
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .AchievementsContainerTop
    {
        margin-top: 0px;
    }
    
    .AchievementsContainerMiddle
    {
        margin-top: 90px;
    }
    
    .AchievementsContainerBottom
    {
        margin-top: 180px;
    }
}

.AchievementsTitle
{
    font-size: 29px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.AchievementsSubTitle
{
    font-size: var(--FontSizeTitleSmall);
}

@media(max-width: 1500px)
{
    .PCContainer
    {
        display: none;
    }
}

@media(min-width: 1501px)
{
    .TabletContainer
    {
        display: none;
    }
}

@media(max-width: 1000px)
{
    .TabletContainer
    {
        display: none;
    }
}

@media(min-width: 1001px)
{
    .PhoneContainer
    {
        display: none;
    }
}

@media(max-width: 1001px)
{
    .PhoneRow
    {
        overflow-x: hidden;
        margin-left: 5%;
        margin-right: 5%;
    }

    .PhoneRow h1
    {
        font-size: 25px;
    }

    .AchievementsContainer
    {
        width: 100%;
        max-width: 420px;
        border-radius: 15px;
        box-shadow: 2px 3px 10px #000000;
        height: auto;
        margin-left: calc(50% - 210px);
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .AchievementsContainer:hover 
    {
        opacity: 100%;
    }

    .col-12
    {
        width: 100%;
        margin-bottom: 5vh;
        margin-top: 5vh;
    }

}

@media(max-width: 513px)
{
    .AchievementsContainer
    {
        margin-left: 0px;
    }
}

@media(max-width: 380px)
{
    .AchievementsContainer
    {
        margin-left: 0px;
        height: 360px;
    }
}

@media(max-width: 367px)
{
    .AchievementsContainer
    {
        height: 370px;
        padding: 20px;
    }
}

#TeamSection
{
    padding-top: 30px;
}

@media(max-width: 700px)
{
    #TeamTitle
    {
        margin-top: 0px;
    }
}

.TeamSectionRow
{
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 10vh;
}

.TeamSectionContainer
{
    box-shadow: 2px 3px 10px #000000;
    border-radius: 15px;
    width: 100%;
    max-width: 350px;
}

@media(max-width: 1001px)
{
    .TeamSectionRow
    {
        margin-right: 0vw;
        margin-left: 0vw;
        margin-top: 7.5vh;
    }
}

.TeamImage
{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 250px;
}

.TeamName
{
    margin-top: 25px;
    margin-bottom: 20px;
}

.TeamDepartment
{
    padding: 20px;
}

.TwoDepartment
{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 20px;
}

.TeamSocialMediaRow
{
    margin-top: 20px;
    padding: 25px;
    padding-bottom: 35px;
}

.TeamSocialMedia
{
    color: white;
    font-size: 25px;
}





 