/* 
    This file contains all the locally used stuff, the second layer. 
    
    Page.html -> - style.css (code used across all pages like the navbar or custom buttons and animations)
                 - Page.css (code that is specific for that page and that page only wich is not included in the other pages)
*/

body 
{
    background-position: 0% 85vh;
    background-size: 100% 700vh;
}

#AboutSection
{
    height: 87.5vh;
}

#AboutElement
{
    margin-top: 80px;
}

#AboutTitle
{
    margin-bottom: 7vh;
}

#AboutTitleRow
{
    margin-left: 10vw;
    margin-right: 10vw;
    height: 60%
}

#AchievementsTitle
{
    margin-bottom: 15vh;
}

@media(max-width: 700px)
{
    #AboutTitleRow
    {
        margin-left: 0px;
        margin-right: 0px;
        height: 72.5%
    }

    #AboutSubTitle
    {
        font-size: 27px;
    }

    #AchievementsTitle
    {
        font-size: 35px;
        margin-bottom: 12vh;
        margin-top: -2vh;
    }

    @media(max-height: 725px)
    {
        #AboutElement
        {
            margin-top: 70px;
        }

        #AboutSubTitle
        {
            font-size: 24px;
        }
    }
}


.AchievementsContainer
{
    width: 90%;
    max-width: 450px;
    height: 350px;
}

.AchievementsCard
{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 25px;
    box-shadow: 2px 5px 18px #000000;
}

.AchievementsCard:hover 
{
    opacity: 97%;
}

.AchievementTitle
{
    margin-top: 25px;
    margin-bottom: 50px;
}

.SectionAchievementsRow
{
    margin-bottom: 2vh;
}

#AchievementsRow
{
    margin-bottom: 15vh;
}


@media(min-width: 1700px)
{
    #AchievementsContainer0
    {

    }

    #AchievementsContainer1
    {

    }

    #AchievementsContainer2
    {

    }

    #AchievementsContainer3
    {

    }

    #AchievementsContainer4
    {
        
    }

    #AchievementsContainer5
    {
        
    }

    #AchievementsContainer6
    {
        
    }

    #AchievementsContainer7
    {
        
    }
}


