/*************************************** | Home Section | ****************************************/

#HomeSection
{
    height: 85vh;
}

#HomeTitleRow
{
    max-width: 1200px;
}

@media(min-width: 1200px)
{
    #HomeTitleRow
    {
        margin-left: calc(50% - 600px);
    }
}

#HomeTitle
{
    font-size: var(--FontSizeTitleHuge);
    font-weight: var(--FontWeightTitleHuge);
}

#HomeElement
{
    margin-top: calc(18vh);
}

/*************************************** | About Section | ****************************************/

#AboutSection
{
    height: 80vh;
}

#AboutSubTitle
{
    padding-top: 20px;
    padding-bottom: 50px;
}

#AboutTitleRow
{
    max-width: 750px;
}

@media(min-width: 750px)
{
    #AboutTitleRow
    {
        margin-left: calc(50% - 350px);
    }
}

#AboutTitle
{
    margin-top: 0vh;
}

/*************************************** | Sponsors Section | ****************************************/

#SponsorsSection
{
    margin-top: -1px;
}

#SponsorsRobotContainer
{
    padding: 0;
    overflow-x: hidden;
    height: 400px;
}

#SponsorsBox0box:hover, #SponsorsBox1box:hover, #SponsorsBox2box:hover, #SponsorsBox3box:hover, 
#SponsorsBox0boxmoveoff:hover, #SponsorsBox1boxmoveoff:hover, #SponsorsBox2boxmoveoff:hover, #SponsorsBox3boxmoveoff:hover,
#SponsorsBox0boxrise:hover, #SponsorsBox1boxrise:hover, #SponsorsBox2boxrise:hover, #SponsorsBox3boxrise:hover
{
    opacity: 80%;    
}

/*************************************** | Blog Section | ****************************************/

.BlogPost
{
    margin-top: 50px;
    width: 90%;
    height: 1000px;
    margin-left: 5%;
}

.BlogImage
{
    border-radius: 15px;
    margin-left: calc(50% - 500px);
    height: 550px;
    max-width: 850px;
}

.BlogTextContainer
{
    padding: 50px;
    border-radius: 15px;
    margin-left: calc(50% - 115px);
    margin-top: -225px;
    height: 400px;
    max-width: 614px;
    box-shadow: -2px -5px 18px #000000;
}

@media(max-width: 1143px)
{
    .BlogImage
    {
        margin-left: 15%;
        width: 70%;
        height: 500px;
        max-width: none;
    }

    .BlogTextContainer
    {
        margin-left: 20%;
        margin-top: -150px;
        max-width: none;
        width: 60%;
        height: 350px;
        padding: 25px;
    }
}

@media(max-width: 900px)
{
    .BlogImage
    {
        display: none;
    }

    .BlogTextContainer
    {
        display: none;
    }
}