/* 
    This file contains all the locally used stuff, the second layer. 
    
    Page.html -> - style.css (code used across all pages like the navbar or custom buttons and animations)
                 - Page.css (code that is specific for that page and that page only wich is not included in the other pages)
*/

body 
{
    background-position: 0% 85vh;
    background-size: 100% 150vh;
}

/*************************************** | Home Section | ****************************************/

#HomeSection
{
    height: 85vh;
}

#HomeTitleRow
{
    max-width: 1200px;
}

@media(min-width: 1200px)
{
    #HomeTitleRow
    {
        margin-left: calc(50% - 600px);
    }
}

#HomeTitle
{
    font-size: var(--FontSizeTitleHuge);
    font-weight: var(--FontWeightTitleHuge);
}

#HomeElement
{
    margin-top: calc(18vh);
}

/*************************************** | About Section | ****************************************/

#AboutSection
{
    height: 80vh;
}

#AboutSubTitle
{
    padding-top: 20px;
    padding-bottom: 50px;
}

#AboutTitleRow
{
    max-width: 750px;
}

@media(min-width: 750px)
{
    #AboutTitleRow
    {
        margin-left: calc(50% - 350px);
    }
}

#AboutTitle
{
    margin-top: 0vh;
}

/*************************************** | Sponsors Section | ****************************************/

#SponsorsSection
{
    margin-top: -1px;
}

#SponsorsRobotContainer
{
    padding: 0;
    overflow-x: hidden;
    height: 400px;
}

#SponsorsBox0box:hover, #SponsorsBox1box:hover, #SponsorsBox2box:hover, #SponsorsBox3box:hover, 
#SponsorsBox0boxmoveoff:hover, #SponsorsBox1boxmoveoff:hover, #SponsorsBox2boxmoveoff:hover, #SponsorsBox3boxmoveoff:hover,
#SponsorsBox0boxrise:hover, #SponsorsBox1boxrise:hover, #SponsorsBox2boxrise:hover, #SponsorsBox3boxrise:hover
{
    opacity: 80%;    
}

/*************************************** | Blog Section | ****************************************/

.BlogPost
{
    margin-top: 50px;
    width: 90%;
    height: 1000px;
    margin-left: 5%;
}

.BlogImage
{
    background-size: 100% 100%;
    border-radius: 15px;
    height: 550px;
    max-width: 850px;
}

.BlogVideo
{
    background-size: 100% 100%;
    border-radius: 15px;
    height: 550px;
    max-width: 850px;
    overflow: hidden;
}

.BlogImageRight, .BlogVideoRight
{
    margin-left: calc(50% - 500px);
}

.BlogImageLeft, .BlogVideoLeft
{
    margin-left: calc(50% - 350px);
}

.BlogTextContainer
{
    padding: 50px;
    border-radius: 15px;
    margin-top: -225px;
    height: 400px;
    max-width: 614px;
    box-shadow: -2px -5px 18px #000000;
    position: absolute;
}

.BlogTextRight
{
    margin-left: calc(50% - 115px);
}

.BlogTextLeft
{
    margin-left: 350px;
}


@media(max-width: 1143px)
{
    .BlogImage, .BlogImageLeft, .BlogImageRight, .BlogVideo, .BlogVideoLeft, .BlogVideoRight
    {
        margin-left: 15%;
        width: 70%;
        height: 500px;
        max-width: none;
    }

    .BlogTextContainer, .BlogTextLeft, .BlogTextRight
    {
        position: relative;
        margin-left: 20%;
        margin-top: -150px;
        max-width: none;
        width: 60%;
        height: 350px;
        padding: 25px;
    }

    .BlogPost
    {
        margin-top: 0px;
    }
}

@media(max-width: 900px)
{
    .BlogImage
    {
        display: none;
    }
    
    .BlogVideo
    {
        display: none;
    }

    .BlogTextContainer
    {
        display: none;
    }
}