/* Dumnezeu sa ma ajute */

/*************************************** | Fonts | ****************************************/

:root 
{
    --FontSizeTitleHuge: 55px;
    --FontWeightTitleHuge: 550;

    --FontSizeTitlePrimary: 45px;
    --FontWeightTitlePrimary: 550;
    
    --FontSizeTitleSecondary: 35px;
    --FontWeightTitleSecondary: 500;  

    --FontSizeTextPrimary: 25px;
    --FontWeightTextPrimary: 450;
    
    --FontSizeTextSecondary: 15px;
    --FontWeightTextSecondary: 450;
    
    --FontSizeIconBig: 40px;
    --FontSizeIconMedium: 30px;
    --FontSizeIconSmall: 20px; 
    --FontSizeIconTiny: 13px; 
    
    --FontSizeMenuItem: 16px;
    --FontWeightMenuItem: 550;
}

@font-face 
{
    font-family: "Jeko";
    src: url("Fonts/Jeko/Jeko.eot"); /* IE9 Compat Modes */
    src: url("Fonts/Jeko/Jeko.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("Fonts/Jeko/Jeko.woff2") format("woff2"), /* Super Modern Browsers */
         url("Fonts/Jeko/Jeko.woff") format("woff"), /* Pretty Modern Browsers */
         url("Fonts/Jeko/Jeko.ttf")  format("truetype"), /* Safari, Android, iOS */
         url("Fonts/Jeko/Jeko.svg#svgJeko") format("svg"); /* Legacy iOS */
}

@font-face 
{
    font-family: "Hodgeson";
    src: url("Fonts/Hodgeson/Hodgeson.eot"); /* IE9 Compat Modes */
    src: url("Fonts/Hodgeson/Hodgeson.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("Fonts/Hodgeson/Hodgeson.woff2") format("woff2"), /* Super Modern Browsers */
         url("Fonts/Hodgeson/Hodgeson.woff") format("woff"), /* Pretty Modern Browsers */
         url("Fonts/Hodgeson/Hodgeson.ttf")  format("truetype"), /* Safari, Android, iOS */
         url("Fonts/Hodgeson/Hodgeson.svg#svgHodgeson") format("svg"); /* Legacy iOS */
}

@font-face 
{
    font-family: "Skizofrenia";
    src: url("Fonts/Skizofrenia/Skizofrenia.eot"); /* IE9 Compat Modes */
    src: url("Fonts/Skizofrenia/Skizofrenia.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("Fonts/Skizofrenia/Skizofrenia.woff2") format("woff2"), /* Super Modern Browsers */
         url("Fonts/Skizofrenia/Skizofrenia.woff") format("woff"), /* Pretty Modern Browsers */
         url("Fonts/Skizofrenia/Skizofrenia.ttf")  format("truetype"), /* Safari, Android, iOS */
         url("Fonts/Skizofrenia/Skizofrenia.svg#svgSkizofrenia") format("svg"); /* Legacy iOS */
}

.FontTitle
{
    font-family: "Jeko";
}

.FontTextMain
{
    font-family: "Hodgeson";
}

.FontTextSecondary
{
    font-family: "Skizofrenia";
}

/*************************************** | Colors | ****************************************/

:root 
{
    --BackgroundPrimary: #121212;
    --BackgroundSecondary: #ffffff;
    --AccentPrimary: #0084ff;  
    --AccentSecondary: #000000;
    --TextPrimary: #ffffff;
    --TextSecondary: #000000;
    --GradientPrimary: linear-gradient(to bottom right, rgb(209, 95, 253), rgb(61, 123, 255));
}

/*************************************** | Global Elements | ****************************************/

body
{
    background-image: var(--GradientPrimary);
    font-family: Montserrat;
    overflow-x: hidden;
}

i
{
    font-family: "FontAwesome";
}

/*************************************** | Global Classes | ****************************************/


.Invisible
{
    visibility: hidden;
}

.Title
{
    color: var(--TextPrimary);
    font-weight: var(--FontWeightTitlePrimary);
    font-size: var(--FontSizeTitlePrimary);
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.SubTitle
{
    color: var(--TextPrimary);
    font-weight: var(--FontWeightTitleSecondary);
    font-size: var(--FontSizeTitleSecondary);
}

.MenuActivator
{
    color: transparent;
    font-size: 1px;
    padding: 0px;
    margin: 0px;
}

.SectionTitleRow
{
    padding-left: 25px;
    padding-right: 25px;
}

/*************************************** | Backgrounds | ****************************************/

.BackgroundPrimary
{
    background-color: var(--BackgroundPrimary);
}

.BackgroundWave
{
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 125px;
}

/*************************************** | Custom Elements | ****************************************/

/* Custom Buttons */

.ButtonBig, .ButtonMedium, .ButtonSmall
{
    background-color: var(--AccentPrimary);
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
    color: var(--TextPrimary);
    text-decoration: none;
    transition: transform 0.2s;
}

.ButtonSmall
{
    padding: 4px 10px;
}

.ButtonMedium
{
    padding: 5px 30px;
}

.ButtonBig
{
    padding: 10px 60px;
}

.ButtonBig:hover, .ButtonMedium:hover, .ButtonSmall:hover
{
    color: var(--TextPrimary);
}

/*************************************** | Animations | ****************************************/

/* Element size increase on Hover */

@media(min-width: 800px)
{
    .AnimationIncrease0, .AnimationIncrease1, .AnimationIncrease2, .AnimationIncrease3, .AnimationIncrease4
    {
        transition: transform 0.2s;
    }

    .AnimationIncrease0:hover, .AnimationIncrease1:hover, .AnimationIncrease2:hover, .AnimationIncrease3:hover, .AnimationIncrease4
    {
        opacity: 80%;
    }

    .AnimationIncrease0:hover
    {
        transform: scale(1.05);
    }

    .AnimationIncrease1:hover
    {
        transform: scale(1.1);
    }

    .AnimationIncrease2:hover
    {
        transform: scale(1.15);
    }


    .AnimationIncrease3:hover
    {
        transform: scale(1.25);
    }

    .AnimationIncrease4:hover
    {
        transform: scale(1.35);
    }
}

/* Element fades in */

.AnimationFadeIn0, .AnimationFadeIn1, .AnimationFadeIn2, .AnimationFadeIn3
{
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.AnimationFadeIn0
{
    animation: AnimationFadeIn ease 1.5s;
}

.AnimationFadeIn1
{
    animation: AnimationFadeIn ease 2.5s;
}

.AnimationFadeIn2
{
    animation: AnimationFadeIn ease 3.5s;
}

.AnimationFadeIn3
{
    animation: AnimationFadeIn ease 4.5s;
}

@keyframes AnimationFadeIn 
{ 
    0% 
    { 
        opacity: 0; 
    } 
    
    100% 
    { 
        opacity: 1; 
    } 
} 

/* Underline from left to right on Hover */

@media(min-width: 800px)
{
  .AnimationUnderline
  {
    background-image: linear-gradient(var(--TextPrimary), var(--TextPrimary));
    background-position: 0% 77.5%;
    background-position-y: 35px;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.5s;
  }
  
  .AnimationUnderline:hover 
  {
    background-size: 100% 2px;
    color: var(--TextPrimary);
  }
}

/*************************************** | Navbar | ****************************************/

#Navbar
{
    height: 60px;
    -webkit-box-shadow: 0 1px 5px 1px black;
    -moz-box-shadow: 0 1px 5px 1px black;
    box-shadow: 0 1px 5px 1px black;
}

#NavbarMenu
{
    margin-left: auto;
}

@media (max-width: 767px) 
{
    .navbar-collapse
    {
        padding-bottom: 30px;
        padding-left: 15px;
        padding-top: 5px;
    }
}

#NavbarLogo
{
    padding-left: 15px;
}

#PhoneMenuToggler
{
    padding-right: 15px;
}

#PhoneMenuIcon
{
    color: var(--TextPrimary);
    font-size: var(--FontSizeIconMedium);
}

.nav-item
{
    margin-right: 10px;
}

.nav-link
{
    color: var(--TextPrimary);
    font-size: var(--FontSizeMenuItem);
    font-weight: var(--FontWeightMenuItem); 
    display: block;  
}
    
.ActiveLink
{
    background: -webkit-linear-gradient(bottom right, rgb(223, 145, 253), rgb(119, 161, 252));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ContactLink
{
    background-image: var(--GradientPrimary);
    font-size: var(--FontSizeMenuItem);
    font-weight: var(--FontWeightMenuItem);  
    margin-top: 5px;
    margin-right: 10px; 
}

#PhoneIcon
{
    font-size: var(--FontSizeIconTiny);
}

/*************************************** | Home Section | ****************************************/

#HomeSection
{
    height: 85vh;
}

#HomeTitle
{
    font-size: var(--FontSizeTitleHuge);
    font-weight: var(--FontWeightTitleHuge);
}

#HomeElement
{
    margin-top: calc(18vh);
}

/*************************************** | About Section | ****************************************/

#AboutSection
{

}

/*************************************** | Sponsors Section | ****************************************/

#SponsorsSection
{
    margin-top: -1px;
}

#SponsorsRobotContainer
{
    padding: 0;
    overflow-x: hidden;
    height: 400px;
}

/*************************************** | Blog Section | ****************************************/









#SponsorsBox0box:hover, #SponsorsBox1box:hover, #SponsorsBox2box:hover, #SponsorsBox3box:hover, 
#SponsorsBox0boxmoveoff:hover, #SponsorsBox1boxmoveoff:hover, #SponsorsBox2boxmoveoff:hover, #SponsorsBox3boxmoveoff:hover,
#SponsorsBox0boxrise:hover, #SponsorsBox1boxrise:hover, #SponsorsBox2boxrise:hover, #SponsorsBox3boxrise:hover
{
    opacity: 80%;    
}