/* Dumnezeu sa ma ajute */

/*************************************** | Colors | ****************************************/

:root 
{
    --BackgroundPrimary: #121212;
    --BackgroundSecondary: #ffffff;
    --AccentPrimary: #0084ff;  
    --AccentSecondary: #000000;
    --TextPrimary: #ffffff;
    --TextSecondary: #000000;
    --GradientPrimary: linear-gradient(to bottom right, rgb(209, 95, 253), rgb(61, 123, 255));
}

/*************************************** | Global Elements | ****************************************/

body
{
    background-image: var(--GradientPrimary);
    font-family: Montserrat;
    overflow-x: hidden;
}

i
{
    font-family: "FontAwesome";
}

/*************************************** | Backgrounds | ****************************************/

.BackgroundPrimary
{
    background-color: var(--BackgroundPrimary);
}

.BackgroundWave
{
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 125px;
}

/*************************************** | Global Classes | ****************************************/


.Invisible
{
    visibility: hidden;
}

.SectionTitle
{
    color: var(--TextPrimary);
    margin-top: 3%;
    margin-bottom: 2%;
    font-weight: 500;
    font-size: 45px;
}

.TextBox
{
    border: 3px solid var(--BackgroundSecondary);
    border-radius: 12px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 100px;
    margin-bottom: 200px;
    padding: 5%;
    color: var(--TextPrimary);
}

/*************************************** | Custom Elements | ****************************************/

/* Custom Buttons */

.ButtonBig, .ButtonMedium, .ButtonSmall
{
    background-color: var(--AccentPrimary);
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
    color: var(--TextPrimary);
    text-decoration: none;
    transition: transform 0.2s;
}

.ButtonSmall
{
    padding: 4px 10px;
}

.ButtonMedium
{
    padding: 5px 30px;
}

.ButtonBig
{
    padding: 10px 60px;
}

.ButtonBig:hover, .ButtonMedium:hover, .ButtonSmall:hover
{
    color: var(--TextPrimary);
}

/*************************************** | Animations | ****************************************/

/* Element size increase on Hover */

@media(min-width: 800px)
{
    .AnimationIncrease0, .AnimationIncrease1, .AnimationIncrease2, .AnimationIncrease3
    {
        transition: transform 0.2s;
    }

    .AnimationIncrease0:hover, .AnimationIncrease1:hover, .AnimationIncrease2:hover, .AnimationIncrease3:hover
    {
        opacity: 80%;
    }

    .AnimationIncrease0:hover
    {
        transform: scale(1.05);
    }

    .AnimationIncrease1:hover
    {
        transform: scale(1.1);
    }

    .AnimationIncrease2:hover
    {
        transform: scale(1.15);
    }


    .AnimationIncrease3:hover
    {
        transform: scale(1.25);
    }

    .AnimationIncrease4:hover
    {
        transform: scale(1.35);
    }
}

/* Underline from left to right on Hover */

@media(min-width: 800px)
{
  .AnimationUnderline
  {
    background-image: linear-gradient(var(--TextPrimary), var(--TextPrimary));
    background-position: 0% 77.5%;
    background-position-y: 35px;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.5s;
  }
  
  .AnimationUnderline:hover 
  {
    background-size: 100% 2px;
    color: var(--TextPrimary);
  }
}

/*************************************** | Navbar | ****************************************/

#Navbar
{
    height: 60px;
    -webkit-box-shadow: 0 1px 5px 1px black;
    -moz-box-shadow: 0 1px 5px 1px black;
    box-shadow: 0 1px 5px 1px black;
}

#NavbarMenu
{
    margin-left: auto;
}

@media (max-width: 767px) 
{
    .navbar-collapse
    {
        padding-bottom: 30px;
        padding-left: 15px;
        padding-top: 5px;
    }
}

#NavbarLogo
{
    padding-left: 15px;
}

#PhoneMenuToggler
{
    padding-right: 15px;
}

#PhoneMenuIcon
{
    color: var(--TextPrimary);
    font-size: 30px;
}

.nav-item
{
    margin-right: 10px;
}

.nav-link
{
    color: var(--TextPrimary);
    font-weight: 550;
    display: block;  
}
    
.ActiveLink
{
    font-weight: 600;
    background: -webkit-linear-gradient(bottom right, rgb(223, 145, 253), rgb(119, 161, 252));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ContactLink
{
    background-image: var(--GradientPrimary);
    margin-top: 5px;
    font-size: 15px;
    font-weight: 550;   
}

#PhoneIcon
{
    font-size: 13px;
}

/*************************************** | Home Section | ****************************************/

#HomeSection
{
    height: 85vh;
}

/*************************************** | About Section | ****************************************/

#AboutSection
{

}

/*************************************** | Sponsors Section | ****************************************/

#SponsorsSection
{
    margin-top: -1px;
}

#SponsorsRobotContainer
{
    padding: 0;
    overflow-x: hidden;
    height: 400px;
}

/*************************************** | Blog Section | ****************************************/



