/* Dumnezeu sa ma ajute */

/* Default Colors */

:root 
{
    --BackgroundPrimary: #121212;
    --BackgroundSecondary: #ffffff;
    --AccentPrimary: #0084ff;  
    --AccentSecondary: #000000;
    --TextPrimary: #ffffff;
    --TextSecondary: #000000;
    --GradientPrimary: linear-gradient(to bottom right, rgb(209, 95, 253), rgb(61, 123, 255));;
}

/******************************************************************************************************/

/* Global Elements */

body
{
    background-image: var(--GradientPrimary);
    font-family: Montserrat;
}

i
{
    font-family: "FontAwesome";
}

section
{
    
}

/******************************************************************************************************/

/* Global Classes */

.Invisible
{
    visibility: hidden;
}


.TextBox
{
    border: 3px solid white;
    border-radius: 12px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 100px;
    margin-bottom: 200px;
    padding: 5%;
    color: white;
}

/******************************************************************************************************/

/* Custom Buttons */

.ButtonBig, .ButtonMedium, .ButtonSmall
{
    background-color: var(--AccentPrimary);
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
    color: var(--TextPrimary);
    text-decoration: none;
    transition: transform 0.2s;
}

.ButtonSmall
{
    padding: 5px 12px;
}

.ButtonMedium
{
    padding: 5px 30px;
}

.ButtonBig
{
    padding: 10px 60px;
}

.ButtonBig:hover, .ButtonMedium:hover, .ButtonSmall:hover
{
    color: var(--TextPrimary);
}

/******************************************************************************************************/

/* Backgrounds */

.BackgroundPrimary
{
    background-color: var(--BackgroundPrimary);
}

.BackgroundWave
{
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 125px;
}

/******************************************************************************************************/

/* Animations */

.AnimationIncrease0, .AnimationIncrease1, .AnimationIncrease2, .AnimationIncrease3
{
    transition: transform 0.2s;
}

.AnimationIncrease0:hover, .AnimationIncrease1:hover, .AnimationIncrease2:hover, .AnimationIncrease3:hover
{
    opacity: 80%;
}

.AnimationIncrease0:hover
{
    transform: scale(1.05);
}

.AnimationIncrease1:hover
{
    transform: scale(1.1);
}

.AnimationIncrease2:hover
{
    transform: scale(1.15);
}


.AnimationIncrease3:hover
{
    transform: scale(1.25);
}

.AnimationIncrease4:hover
{
    transform: scale(1.35);
}

/******************************************************************************************************/

/* Navbar */

#Navbar
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--BackgroundPrimary);
    -webkit-box-shadow: 0 1px 5px 1px black;
    -moz-box-shadow: 0 1px 5px 1px black;
    box-shadow: 0 1px 5px 1px black;
}

#NavbarLogo
{
    margin-left: 15px;
}

#PhoneMenuIcon
{
    color: var(--TextPrimary);
    font-size: 30px;
}

.nav-item
{
    margin-right: 15px;
}

.nav-link
{
    color: var(--TextPrimary);
    font-weight: 550;
    display: block;  
    background-image: linear-gradient(var(--TextPrimary), var(--TextPrimary));
    background-position: 0% 77.5%;
    background-position-y: 35px;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.5s;
}
    
.ActiveLink
{
    font-weight: 600;
    background: -webkit-linear-gradient(bottom right, rgb(223, 141, 255), rgb(113, 158, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media(min-width: 992px)
{
    .nav-link:hover, .nav-link:focus
    {
        background-size: 100% 2px;
        color: var(--TextPrimary);
    }

    .ActiveLink:hover, .ActiveLink:focus
    {
        color: white;
    }
}

#ContactLink
{
    background-image: var(--GradientPrimary);
    margin-top: 4px;
    font-size: 15px;
    font-weight: 550;   
}

#PhoneIcon
{
    font-size: 13px;
}

/* Home Section */

#HomeSection
{
    height: 85vh;
}





/* aaaa */

#Section2
{
    height: 950px;
}




























